.productCard{
    background:rgb(245, 245, 245,0.7);
    width:28vh;
    height: 55vh;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    border-radius:20px;
    transition:0.3s;
    margin-left: 4vh;
    margin-top: 5vh;
}

img{
    height: 18vh;
    width:28vh;
    border-radius:20px 20px 0px 0px;
}


.cardContent{
    padding:1vh 1vh 1vh 1vh;
    font-size:1.3rem;
    font-family:Arial;
}

.productTitle{
    color:#1c1c1c;
}
.cardContent ol{
    padding:1vh 1vh 2vh 1vh;
    font-size:1rem;
}

.description{
    color: #383838;
    font-weight: 500;
}

.weight{
    color: #383838;
    font-weight: 300;
}

.price{
    color: #383838;
    font-weight: 600;
}
.cardContent ol li{
    display:block;
    transition:0.3s;
    width:auto;
    padding-top: 4px;
}



.button-card {
    align-items: center;
    background-color: #8dd6e3;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #424242;
    cursor: pointer;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;

    
}

.button-card:hover,
.button-card:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: #424242;
}

.button-card:hover {
    transform: translateY(-1px);
}

.button-card:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: #424242;
    transform: translateY(0);
}

