.productPage{
    background: rgb(252,255,166);
    background: linear-gradient(275deg, rgba(252,255,166,1) 0%, rgba(193,255,215,1) 26%, rgba(181,222,255,1) 67%, rgba(202,184,255,1) 100%);
    width: 180vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 48px;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.Navi{
    margin-top: 0vh;
    margin-bottom: 70vh;
    width: 180vh;
    padding-bottom: 20px;
    background:#063b8c;
}

.productsAll{

}

.logo{
    width: 3vh;
    height: 3vh;
    background-image: url("../Pictures/logo.png");
}